langchain @ git+https://github.com/myscale/langchain.git@preview#egg=langchain&subdirectory=libs/langchain
langchain-experimental @ git+https://github.com/myscale/langchain.git@preview#egg=langchain-experimental&subdirectory=libs/experimental
# https://github.com/PromtEngineer/localGPT/issues/722
sentence_transformers==2.2.2
InstructorEmbedding
pandas
sentence_transformers
streamlit==1.25
streamlit-auth0-component
altair==4.2.2
clickhouse-connect
openai==1.2.4
lark
tiktoken
sql-formatter
sqlalchemy==1.4.48
clickhouse-sqlalchemy
