langchain==0.2.1
langchain-community==0.2.1
langchain-core==0.2.1
langchain-experimental==0.0.59
langchain-openai==0.1.7
sentence_transformers==2.2.2
InstructorEmbedding
pandas
sentence_transformers
streamlit==1.25
streamlit-auth0-component
altair==4.2.2
clickhouse-connect
openai==0.28
lark
tiktoken
sql-formatter
sqlalchemy==1.4.48
clickhouse-sqlalchemy
