langchain==0.3.7
langchain-community==0.3.0
langchain-core==0.3.15
langchain-experimental==0.3.0
langchain-huggingface==0.1.2
langchain-openai==0.2.0
langchain-text-splitters==0.3.2
sentence-transformers==3.1.0
InstructorEmbedding
pandas
streamlit==1.36.0
streamlit-extras
streamlit-auth0-component
altair==4.2.2
clickhouse-connect
openai==1.54.3
lark
tiktoken
sql-formatter
sqlalchemy==1.4.48
clickhouse-sqlalchemy
einops==0.8.0
